<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="twitch">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Twitch</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="telemetry">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Telemetry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stream">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Stream</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
